from random import randint
print("Hand cricket game")
out,w,x,y=1,"",0,0
def process(w):
    s=0
    while True:
        a=int(input("you :"))
        r=randint(1,6)
        print("pc: ",r)
        if  a==r :
            break
            print("out")
        elif a!=r and  w=="batting":
            s+=a
        elif r!=a and w=="bowling":
            s+=r
    return s
e=input("Enter your choice,Odd or Even:")
print("Number should be 1-6")
n=int(input("You :"))
k=randint(1,6)
print("pc :",k)
if (n+k)%2==0:
    i="even"
    if  i==e or e=="e" or e=="E":
        w=input("Your choice batting or bowling:")
        if w=="batting" or w=="bat" :
            x=process(w)
            print("Your score is",x,"Now you are going to bowl")
            y=process("bowling")
            print("System score is ",y)
        elif w=="bowling" or w=="bowl":
            x=process(w)
            print("system score is ",x,"Now you are going to batting")
            y=process("batting")
            print("your score is",x)
    else:
         print("system choice")
         w=randint(0,1)
         if w==0:
            print("system choose to bowl")
            x=process("batting")
            print("Your score is",x,"Now you are going to bowl")
            y=process("bowling")
            print("System score is ",y)
         if w==1:
            print("System choose to bat")
            y=process("bowling")
            print("System score is ",y,"Now you are going to bat")
            x=process("batting")
            print("Your score is",x)
elif (n+k)%2:
    i="odd"
    if i==e or e=="o" or i=="O":
        w=input("Your choice batting or bowling:")
        if w=="batting" or w=="bat":
            x=process(w)
            print("Your score is",x,"Now you are going to bowl")
            y=process("bowling")
            print("System score is ",y)
        elif w=="bowling" or w=="bowl":
            x=process(w)
            print("System score is ",x,"Now you are going to bat")e
            y=process("batting")
            print("Your score is",y)
            
    else:
        print("System choice")
        w=randint(0,1)
        if w==0:
            print("System choose to bowl")
            x=process("batting")
            print("Your score is",x,"Now you are going to bowl")
            y=process("bowling")
            print("System score is ",y)
        if w==1:
            print("System choose to bat")
            y=process("bowling")
            print("System score is ",y,"Now you are going to bat")
            x=process("batting")
            print("Your score is",x)
if y>x:
    print("System wins")
elif y==x:
    print("Match draw")
elif x>y:
    print("You win")
